.about-container{
    
    background: url("https://png.pngtree.com/thumb_back/fh260/background/20221205/pngtree-realistic-film-strip-with-popcorn-and-movie-ticket-image_1483983.jpg");
    text-align: center;
    background-position: center;
        background-size: cover;
        display: flex;
        justify-content:center ;
        align-items: center;
        height: 100vh;
}